{% extends 'layout/layout.html' %}

{% block contenido %}
{% include 'message/messages.html' %}
    <h1>Iniciar sesión</h1>
    <form method="post">
      {% csrf_token %}
        <div class="mb-3">
          <label for="usuario" class="form-label"><i class="fas fa-user"></i>  Usuario:</label>
          <input required name="usuario" type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"><i class="fas fa-unlock-alt"></i>  Contraseña:</label>
          <input required name="password" type="password" class="form-control" aria-describedby="emailHelp">
        </div>
        
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
{% endblock %}